<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h2>Home Page of the Company - Yohoo!...:->)</h2>
    <hr>
    Welcome to the VSR-Code company HomePage.
    <hr>
<!--    display user-name and role-->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
<!--    Add a link point to /leaders ... this is for the managers-->
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (only for managers)
</p>
<!--    Add a logout button-->
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>